{% extends 'base.html.twig' %}

{% block title %}Hello JobsController!{% endblock %}

{% block body %}
 <section id="job-offers" class="section-padding gray-bg">
            <div class="container">
                <div class="text-center mb-40">
                    <h2 class="section-title">We have the perfect job for you</h2>
                    <p class="section-sub">just like our candidates, we offer quality, serious & reliable job offers.</p>
                </div>
                <div class="portfolio-container">

                    <ul class="portfolio-filter brand-filter text-center">
                        <li class="active waves-effect waves-light" data-group="all">All</li>
                        <li class=" waves-effect waves-light" data-group="commercial">Commercial</li>
                        <li class=" waves-effect waves-light" data-group="retail">Retail sales</li>
                        <li class=" waves-effect waves-light" data-group="creative">Creative</li>
                        <li class=" waves-effect waves-light" data-group="technology">Technology</li>
                        <li class=" waves-effect waves-light" data-group="marketing">Marketing & PR</li>
                        <li class=" waves-effect waves-light" data-group="fashion">Fashion & luxury</li>
                        <li class=" waves-effect waves-light" data-group="management">Management & HR</li>
                    </ul>
                    <div class="portfolio portfolio-with-title col-2 gutter mt-30">
                        {% for jobOffer in jobOffers %}
                        <div class="portfolio-item" data-groups='["all", "{{ jobOffer.jobCategory }}"]'>
                            <div class="portfolio-wrapper">
                                <div class="card job-card">
                                    <div class="card-content">
                                        <span class="title">
                                            <span class="card-title">{{ jobOffer.title }}</span>
                                            <span class="ref grey-text">Ref. {{ jobOffer.reference }}</span>
                                        </span>
                                        <div class="metas mb-20">
                                            <div class="meta">
                                                <i class="material-icons">&#xE53E;</i>{{ jobOffer.salary }}&euro;
                                            </div>
                                            <div class="meta">
                                                <i class="material-icons">&#xE916;</i>{{ jobOffer.closingDate|date("m/d/Y", false) }}
                                            </div>
                                            <div class="meta">
                                                <i class="material-icons">&#xE55F;</i>{{ jobOffer.location }}
                                            </div>
                                        </div>
                                        <p class="truncate-text">
                                        {{jobOffer.description}}
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a class="btn btn-md primary border waves-effect waves-dark" 
                                        href="{{ path('job_show', {'id': jobOffer.id}) }}">Details</a>
                                        <a class="btn btn-md primary waves-effect waves-light" href="#!">Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="no-item"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Footer -->
<footer class="footer footer-four">
    <div class="primary-footer brand-bg text-center">
        <div class="container">

            <a href="#top" class="page-scroll btn-floating btn-large gradient secondary back-top waves-effect waves-light" data-section="#top">
                <i class="material-icons">&#xE316;</i>
            </a>
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->
{% endblock %}
